{%extends "base.html"%}
{% block navbar %} 

    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <ul class="navbar-nav mr-auto d-flex flex-row ">
        <li class="nav-item active ml-4">
          <a class="nav-link" href="/admin_dashboard">Admin_{{admin.username}}'s Dashboard
            <span class="sr-only">(current)</span>
          </a> 
        </li> 
        <li class="nav-item ml-4">
          <a class="nav-link" href="/summary">Summary</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" href="/admin_logout">Logout</a>
        </li> 
      </ul>
    </nav>
  
{% endblock %}



{%block body%}
<div class="container mt-5 pt-5 justify-content-center"> 
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-body text-center">
                    <h3>Add Show</h3>
                    <form method="POST" enctype="multipart/form-data">
                        <input type="text" name="show_name" id="show_name" class="form-control my-4 py-2" placeholder="Show Name" required>
                        <input type="hidden" name="venue_id" value="{{ venue_id }}">
                        <input type="number" min="0" max="5" name="rating" id="rating" class="form-control my-4 py-2" placeholder="Ratings" required >
                        <input type="text" name="tags" id="tags" class="form-control my-4 py-2" placeholder="Tags" required >
                        <input type="text" name="time" id="time" class="form-control my-4 py-2" placeholder="Time"required >
                        <input type="number" min="0" name="price" id="price" class="form-control my-4 py-2" placeholder="Price" required >
                        <label for="poster">Choose a poster for your show:</label>
                        <input type="file" name="poster" id="poster" class="form-control my-4 py-2" placeholder="Show Poster" required>
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}