<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Ticket Show</title>
</head>
<body style="background-color:#FF5757 ;">

    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="/">Ticket Show</a>
    </nav>
 
    <div class="container mt-5 pt-5 "> 
        <div class="row">
            <div class="col-md-6 mx-auto">
                <center><img src="static/images/tslogo.png" alt="logo" width="500" height="200"></center>
                    <p><i><center><h4>Welcome to Ticket Show!</h4></center></i></p>
                    <p><center><h5 class="text-white">Book tickets online easily with Ticket Show - one-stop destination for all your event needs!</h5></center></p>
                    <br>
                    <div>
                        <center><h6>Choose your login type</h6>
                            <a href="/admin_login"><button class="btn btn-light">Login as Admin</button></a> &nbsp; OR &nbsp; 
                            <a href="/user_login"><button class="btn btn-light">Login as User</button></a>
                        </center>
                </div>
            </div>
        </div>
    </div>

</body>